@media (max-width: 770px) {
    .digitando {
        font-size: 40px;
    }

    .wrapper h3 {
        font-size: 15px;
    }

    .rocket img {
        width: 200px;
        height: 200px;
    }

    .about-img img {
        height: 100px;
        width: 100px;
    }

    .about-text p,
    .about-text strong {
        font-size: 12px;
    }

    .grid-habilidades {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-habilidades .grid-item span {
        font-size: 10px;
    }

    .grid-habilidades .grid-item img {
        width: 20px;
        height: 20px;
    }
}

@media(max-width:430px) {
    .container{
        height: initial;
        display: inline-block;
    }

    .grid-vitrine{
        flex-direction: column;
        position: initial;
        margin-top: 50px;
        transition: all 0.5s ease;
        animation:none;
    }

    .wrapper{
        animation: none;
    }

    .wrapper h3 {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .rocket{
        animation: none;
    }

    .rocket img{
        margin-left: 0;
    }

    .footer {
        display: none;
    }

    .nav-menu span {
        display: block;
    }
    

    #about,
    #projects,
    #contact{
        width: 237px;
        position: absolute;
        top: 0;
        margin: 20px;
    }

    .grid-projects,.grid-habilidades{
        grid-template-columns: repeat(1, 1fr);
    }

    .about-header{
        display: block;
        margin: 0 auto;
    }

    
    .grid-projects .grid-item:hover{
        animation:none;
    }

    .grid-contact{
        display: block;
    }

    .contact-info{
        margin: 0 auto;
        padding: 50px 0;
    }

    .contact-info span{
        font-size: 12px;;
    }

    .contact-info span a img{
        width: 30px;
        height: 30px;
        padding-right: 10px;
    }
}