@media (max-width: 770px) {
    .digitando {
        font-size: 40px;
    }

    .wrapper h3 {
        font-size: 15px;
    }

    .rocket img {
        width: 200px;
        height: 200px;
    }

    .about-img img {
        height: 100px;
        width: 100px;
    }

    .about-text p,
    .about-text strong {
        font-size: 12px;
    }

    .grid-habilidades {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-habilidades .grid-item span {
        font-size: 10px;
    }

    .grid-habilidades .grid-item img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width:600px){
    .grid-vitrine{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

    .rocket img{
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }

    .footer li{
        font-size: 16px;
        margin: 10px;
    }

    .icon{
        display: flex;
        flex-direction: row;
    }
}


@media(max-width:430px) {
    .container{
        height: initial;
        display: inline-block;
    }

    .grid-vitrine{
        flex-direction: column;
        position: initial;
        margin-top: 50px;
        transition: all 0.5s ease;
        animation:none;
    }

    .wrapper{
        animation: none;
    }

    .wrapper h3 {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .rocket{
        animation: none;
    }

    .rocket img{
        margin-left: 0;
    }

    .footer {
        display: none;
    }

    .nav-menu span {
        display: block;
    }
    

    #about,
    #projects,
    #contact{
        width: 80%;
        position: absolute;
        top: 0;
        margin: 20px;
    }

    .about-header{
        display: block;
        margin: 0 auto;
    }

    .about-header img{
        width: 200px;
        height: 200px;
    }

    .grid-habilidades{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-habilidades .grid-item progress{
        width: 90px;
    }

    .grid-projects{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
    }

    .grid-projects .grid-item{
        width: 250px;
        text-align: center;
        background-color: #23B8B3;
        border:none;
    }

    .grid-projects .grid-item:hover{
        animation:none;
    }

    .grid-projects .grid-item button{
        background-color: #fff;
    }

    .grid-projects .grid-item button a{
        color:#23B8B3;
    }

    .grid-contact{
        display: block;
    }

    .contact-info{
        margin: 0 auto;
        padding: 30px 0;
    }

    .contact-info span{
        font-size: 16px;;
    }

    .contact-info span a img{
        width: 40px;
        height: 40px;
        padding-right: 20px;
    }

    .contact-img img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 375px){
    #about,
    #projects,
    #contact{
        margin: 15px;
    }

    .contact-info span{
        font-size: 14px;;
    }

    .contact-info span a img{
        width: 30px;
        height: 30px;
        padding-right: 20px;
    }
}

@media (max-width: 320px){
    #about,
    #projects,
    #contact{
        margin: 10px;
    }

    .contact-info span{
        font-size: 12px;;
    }

    .contact-info span a img{
        width: 30px;
        height: 30px;
        padding-right: 20px;
    }
}